* {
  margin: 5px 10px;
}
/* css variables */
:root {
  --background-color: #524578;
  --click-color:#484578;
  --font-colot: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
}

/* main container stuff */
.main {
  direction: flex;
  flex-direction: column;
  margin: 5px 25%;
  border: solid red;
}

.main div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

}
/* end main */

/* header * navigation stuff */
.header {
  display: flex;
  justify-content: space-between;
  color: var(--main-bg-color);
  height: 100px;
  position: sticky; 
}



.intro {
  display: flex;
  flex-direction: column;
  /* visibility: ; */
}

.btn {
  border: none;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 9px #fff ;
  color: var(--font-colot);
  font-size: 16px;
  line-height: 12px;
  width:fit-content;
  padding: 10px 20px;
  cursor: pointer;
  /* margin: 16px 16px 16px 20px; */
  /* display: inline-block; */
  /* 0px; */

}

/* above here is good */
/* ################## */

.quiz {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.quiz h4 {
  width: fit-content;
  padding: 3px 7px;
  background-color: var(--bg-color);
  color: #fff;
  font-size: large;
  border: solid var(--bg-color) ;
  border-radius: 8px;
}
.btn:hover {
  filter: brightness(85%);
}

.btn:active {
  /* background-color: #3e8e41; */
  filter: brightness(85%);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#quiz h4:hover {
  filter: brightness(85%);
}

#quiz h4:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);}




/* ####### Begin media queries########### */
/* 900px  section */
@media screen and (max-width: 900px) {

}



/* 600px and below section */
@media screen and (max-width: 600px) {

}